# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre type checker
.pyre/

# Mypy type checker
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Jupyter Notebook metadata
*.ipynb-meta

# Logs and local data
*.log
*.sqlite3
*.db

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.save

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Huge data files
data/raw-data/LA_crime_data